<footer>
	<div class="footerIcons">
		{% if site.github_username %}
			<a href="https://github.com/{{ site.github_username }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fab fa-github fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		{% if site.email_address %}
			<a href="mailto:{{ site.email_address }}">
				<span class="fa-stack fa-1x">
					<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
					<i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
				</span>
			</a>
		{% endif %}

		<a href="https://www.linkedin.com/in/zdtorok/">
			<span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-linkedin fa-stack-1x"></i>
			</span>
		</a>
		
		<a href="https://apps.apple.com/hu/developer/zoltan-daniel-torok/id1516607860">
			<span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-apple fa-stack-1x"></i>
			</span>
		</a>

		<a href="https://play.google.com/store/apps/developer?id=Zolt%C3%A1n+D%C3%A1niel+T%C3%B6r%C3%B6k">
			<span class="fa-stack fa-1x">
				<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
				<i class="socialIconTop fab fa-google-play fa-stack-1x"></i>
			</span>
		</a>
		
	</div>
	<div class="footerLinks">
		{% for page in site.pages %}
			<a href="{{ page.url | relative_url }}" target="_self">{{ page.title }}</a>
		{% endfor %}
		{% if site.presskit_download_link %}
			<a href="{{ site.presskit_download_link }}">Press Kit</a>
		{% endif %}
	</div>
</footer>
